---
// 布局组件
import BaseLayout from '../layouts/BaseLayout.astro';
// 定义变量
const pageTitle = "关于我";
const identity = {
  firstName: "mayfly",
  city: "南京",
  occupation: "coder",
  hobbies: ["阅读", "发呆"],
};
const skills = ["nothing"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "capitalize";
---
<!-- 传递属性 -->
<BaseLayout pageTitle={pageTitle}>
  <!-- 定义了CSS变量 -->
  <style define:vars={{skillColor, fontWeight, textCase}}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      /* 使用变量 */
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
  <h2>蜉蝣朝生而暮死</h2>
  <p>以下是关于我的几个事实：</p>
  <ul>
    <li>我的名字是{identity.firstName}</li>
    <li>我住在{identity.city}。我的职业是{identity.occupation}</li>
    {identity.hobbies.length >= 2 &&
      <li>我的两个习惯：{identity.hobbies[0]}和{identity.hobbies[1]}</li>
    }
  </ul>
  <p>我的技能是：</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>


